</head>
<body>
  <div class="container">
    <div class='header'>
      <a href="/">infinite-ramble</a>
    </div>
    <div class='navbar'>
      <ul class='navbar-list'>
        <li class="navbar-item">
          <a class="navbar-link" href='/content/games'>games</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href='/content/painting'>painting</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href='/content/resume'>resume</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href='/content/ramble'>ramble</a>
        </li>
      </ul>
    </div>
