{{> header}}
{{> navigation}}

<p>html</p>
<ul>
  {{#each collections.games}}
    {{#if this.html}}
      <li>
        <a href="/{{this.path}}">
          {{this.title}}
          <img src="/assets/images/games/{{this.title}}.jpg" />
        </a>
      </li>
    {{/if}}
  {{/each}}
</ul>
<p>flash</p>
<ul>
  {{#each collections.games}}
    {{#if this.flash}}
      <li>
        <a href="/{{this.path}}">
          {{this.title}}
          <img src="/assets/images/games/{{this.title}}.jpg" />
        </a>
      </li>
    {{/if}}
  {{/each}}
</ul>
<p>ios</p>
<ul>
  {{#each collections.games}}
    {{#if this.ios}}
      <li>
        <a href="/{{this.path}}">
          {{this.title}}
          <img src="/assets/images/games/{{this.title}}.jpg" />
        </a>
      </li>
    {{/if}}
  {{/each}}
</ul>

{{> footer}}
