{{> header}}
{{> navigation}}

<div class="games">

  <h2>HTML (JS)</h2>
  <div class="thumbs clearfix">
    {{#each collections.games}}
      {{#if this.html}}
        <a href="/content/jsgames/{{this.title}}">
          <img src="/assets/images/games/{{this.title}}.jpg" />
          <p class="center">{{this.display_title}}</p>
        </a>
      {{/if}}
    {{/each}}
  </div>

  <h2>iOS/Android (Lua)</h2>
  <div class="thumbs clearfix">
    {{#each collections.games}}
      {{#if this.ios}}
        <a href="/{{this.path}}">
          <img src="/assets/images/games/{{this.title}}.jpg" />
          <p class="center">{{this.display_title}}</p>
        </a>
      {{/if}}
    {{/each}}
  </div>

  <h2>Flash (AS3)</h2>
  <div class="thumbs clearfix">
    {{#each collections.games}}
      {{#if this.flash}}
        <a href="/{{this.path}}">
          <img src="/assets/images/games/{{this.title}}.jpg" />
          <p class="center">{{this.display_title}}</p>
        </a>
      {{/if}}
    {{/each}}
  </div>
</div>

{{> footer}}
